<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= recipe.title %> - Nomadic Nibbles</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    body {
      background-image: url('/assets/images/show.png');
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
    }
  </style>
</head>
<body class="bg-show">
  <%- include('../partials/nav') %>
  <main class="container">
    <h1><%= recipe.title %></h1>
    <p><strong>Ingredients:</strong></p>
    <ul>
      <% recipe.ingredients.forEach(function(ingredient) { %>
        <li><%= ingredient %></li>
      <% }); %>
    </ul>
    <p><strong>Instructions:</strong></p>
    <pre><%= recipe.instructions.join("\n") %></pre>
    <p><strong>Region:</strong> <%= recipe.region.major %> - <%= recipe.region.sub %></p>
    <p><strong>Created by:</strong> <a href="/profile/<%= recipe.author._id %>"><%= recipe.author.username %></a></p>
    <% if (user && user._id.toString() === recipe.author._id.toString()) { %>
      <a href="/recipes/<%= recipe._id %>/edit" class="btn">Edit Recipe</a>
      <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" class="inline-form">
        <button type="submit" class="btn">Delete Recipe</button>
      </form>
    <% } %>
    <a href="/recipes" class="btn">Back to Recipes</a>
  </main>
</body>
</html>
